<!DOCTYPE html>
<html>
<head>
  <title><%= pageTitle %></title>
</head>
<body>
  <% include partials/header %>
  
  <main>
    <%- body %>
  </main>
  
  <% include partials/footer %>
</body>
</html>
